/* @styles */
@import '~/styles/colors.css';

/* @components */
@import './nav-links/nav-links.css';
@import './nav-mobile/nav-mobile.css';

.nav {
  position: fixed;
  display: flex;
  right: 0;
  z-index: 1000;
}
