<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>Robert Varela</title>

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">

    <!-- JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/main.js"></script> -->

  </head>
  <body>

    <nav class="navbar navbar-fixed-top" style="background-color: white;">
      <div class="container" style="background-color: white;">
        <div class="navbar-header">
          <a class="navbar-brand" href="../index.html">Robert Varela</a>
        </div>
      </div>
    </nav>
    <img class="top-image-process" src="../images/indago1(laptop1).png" alt="" style="">
    <div class="process indago-process">
      <div class="row project-description">
        <div class="col-md-6">
          <h3>Title</h3>
          <h4>Indago</h4>
          <h3>Role</h3>
          <h4>Design/ Front-end Developer</h4>
          <h3>Project Type</h3>
          <h4>Group Project</h4>
          <h3>Description:</h3>
          <p>
            Indago helps you find the perfect day trip in the city. You can see other trips and save the best one that matches you. You can also create a custom trip from scratch.
          </p>
        </div>
        <div class="col-md-6">
          <h3>Technologies:</h3>
          <ul>
            <li>JavaScript</li>
            <li>jQuery</li>
            <li>Express</li>
            <li>Node.js</li>
            <li>Knex</li>
            <li>PostgreSQL</li>
            <li>Behavior Testing</li>
          </ul>
          <h3>Links:</h3>
          <ul class="links">
            <li><a href="https://github.com/rvarela11/indago" target="_blank">Code</a></li>
            <li><a href="http://indago.io" id="indago-process" target="_blank">Site</a></li>
          </ul>
        </div>
      </div>

      <div class="project-process">
        <hr data-content="Process">

        <div class="row">
          <ul class="user-stories col-md-6">
            <h3>User Stories</h3>
            <li>User is able to signs up and/or login</li>
            <li>User is able to select a city</li>
            <li>User is able to see other users trips by popularity </li>
            <li>User is able to click on any trip </li>
            <li>User is able to see all the places for that trip</li>
            <li>User is able to save the trip</li>
            <li>User is able to save places</li>
            <li>User is able to click on the my trips tab</li>
            <li>User is able to click on the favorite trips tab</li>
            <li>User is able to click on the favorite places tab</li>
            <li>User is able to click on the create trip tab</li>
            <li>User is able to click on the edit tab</li>
            <li>User is able to search for places</li>
            <li>User is able to log out</li>
          </ul>

          <div class="col-md-6">
            <h3>Design Process</h3>
            <h4>Research</h4>
            <p>
              I came up with this idea after staying at an airbnb for 2 weeks. Most of the people in the house would ask me for ideas on what to do around Austin. And most of the time I would end up saying the same thing.
            </p>
            <h4>Experience</h4>
            <p>
              The design of indango was inspired by the airbnb website. It has a lot of whitespace and subtle colors so the focus can be on the pictures and locations.
            </p>
            <h4>Build</h4>
            <p>
              This is the current stage that I am on. The application is about 60% completed.
            </p>
          </div>
        </div>

        <div class="wire-frames row">
          <div class="row">
            <img class="img-fluid" src="../images/indago-wf-1.png" alt="Fuel Wireframe" />
            <img class="img-fluid" src="../images/indago1.png" alt="Fuel Build" />
          </div>
          <div class="row">
            <img class="img-fluid" src="../images/indago-wf-2.png" alt="Fuel Wireframe" />
            <img class="img-fluid" src="../images/indago2.png" alt="Fuel Build" />
          </div>
          <div class="row">
            <img class="img-fluid" src="../images/indago-wf-3.png" alt="Fuel Wireframe" />
            <img class="img-fluid" src="../images/indago3.png" alt="Fuel Build" />
          </div>
        </div>

      </div> <!-- Body Process -->

      <hr data-content="Overall">
      <div class="overall">
        <h4>This was my second major project and first time working with a team. My main goals where to:</h4>
        <ul>
          <li>Have a smooth UI/UX. This was done by using more white space then my previous projects. </li>
          <li>Have a mobile friendly website</li>
        </ul>
      </div>

    </div>

  </body>
</html>
