<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>Robert Varela</title>

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">

  </head>
  <body>

    <nav class="navbar navbar-fixed-top" style="background-color: white;">
      <div class="container" style="background-color: white;">
        <div class="navbar-header">
          <a class="navbar-brand" href="../index.html">Robert Varela</a>
        </div>
      </div>
    </nav>

    <img class="top-image-process" src="../images/tracker-laptop-2.1.png" alt="" style="">

    <div class="process fuel-process">

      <div class="row project-description">
        <div class="col-md-6">
          <h3>Title</h3>
          <h4>Tracker</h4>
          <h3>Role</h3>
          <h4>UI/ Full-stack Developer</h4>
          <h3>Project Type</h3>
          <h4>Personal Project</h4>
          <h3>Description:</h3>
          <p>
            Tracker is a google chrome extension that helps a group of people focus on completing a learning objective. This is done by tracking how much time is spent on selected web sites. The idea is that the more time spent studying, the more likely the person will succeed in learning the material.
          </p>
        </div>
        <div class="col-md-6">
          <h3>Technologies:</h3>
          <ul>
            <li>Angular</li>
            <li>Express</li>
            <li>Node.js</li>
            <li>Knex</li>
            <li>PostgreSQL</li>
            <li>Google Chrome Extension</li>
          </ul>
          <h3>Links:</h3>
          <ul class="links">
            <li><a href="https://github.com/timothyrchew/chrome-time-tracker" target="_blank">Code</a></li>
            <li><a href="https://rvarela11.github.io/fuel/" id="indago-process" target="_blank">Site</a></li>
          </ul>
        </div>
      </div>

      <div class="project-process">
        <hr data-content="Process">

        <div class="row">
          <ul class="user-stories col-md-6">
            <h3>User Stories</h3>
            <li>User is able to sign up</li>
            <li>User is able to login</li>
            <li>User is able to create new game</li>
            <li>User is able to join existing game</li>
            <li>User is able to view past games</li>
            <li>User is able to see all existing games on the home page</li>
            <li>User is able to click on a game for more details</li>
            <li>User is able to see a donut chart with info about websites</li>
            <li>User is able to see a bar graph with players info</li>
            <li>User is able to see how much time is remaining</li>
          </ul>

          <div class="col-md-6">
            <h3>Challenge</h3>
            <p>
              One of the challenges was XXXX
            </p>
            <p>
              To solve this, XXXX
            </p>
            <code>var calories = parseInt(item.replace(/.*=/, ""), 10);</code>
          </div>
        </div>

        <div class="wire-frames row">
          <div class="row">
            <img class="img-fluid" src="../images/Fuel-wf-1.png" alt="Fuel Wireframe" />
            <img class="img-fluid" src="../images/fuel1.png" alt="Fuel Build" />
          </div>
          <div class="row">
            <img class="img-fluid" src="../images/Fuel-wf-2.png" alt="Fuel Wireframe" />
            <img class="img-fluid" src="../images/fuel2.png" alt="Fuel Build" />
          </div>
          <div class="row">
            <img class="img-fluid" src="../images/Fuel-wf-3.png" alt="Fuel Wireframe" />
            <img class="img-fluid" src="../images/fuel3.png" alt="Fuel Build" />
          </div>
        </div>

      </div> <!-- Body Process -->

      <hr data-content="Overall">
      <div class="overall">
        <h4>
          This was my first major project since I started learning how to code. My main goals where to:
        </h4>
        <ul>
          <li>Provide a smooth user experience. This was done by using jQuery methods such as hide and show.</li>
          <li>Provide a smooth user interface. This can be found in the css techniques such as the arrow buttons.</li>
          <li>Receive information from an API.</li>
        </ul>
      </div>

    </div>

  </body>
</html>
