@import '~/styles/colors.css';

.nav-mobile {
  background-color: var(--color__mid-gray);
}

.nav-mobile__menu .MuiDrawer-paper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--color__mid-gray);
  padding: 1rem;
}

.nav-mobile__link:hover {
  margin-top: 0;
}