@import '../modal/modal.scss';

.main-drawer__close {
  display: flex;
  justify-content: flex-end;

  .MuiButtonBase-root {
    padding-right: 0;
  }

  svg {
    font-size: 2rem;
  }
}

.main-drawer__content {
  @include main-modal;
}
