/* @fonts */
@import '@fontsource/orbitron';

/* @styles */
@import '~/styles/colors.scss';
@import './timeline/timeline.scss';

.page.home-page {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-left: 5vw;
}

.home-page-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  min-height: 70vh;
}

.home-page-content__name.MuiTypography-root {
  font-family: 'Orbitron', sans-serif;
}

.home-page-content__title.MuiTypography-root {
  font-weight: 300;
  color: $color__dark-pink;
}

.home-page-content__bio {
  max-width: 700px;
}

.home-page-content__bio .MuiTypography-root {
  margin: 0;
  font-size: 1.5rem;
}
