.social-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 0;
  line-height: normal;
  width: 2.5rem;
  z-index: 1000;
}

.social-nav__link {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  transition: all .2s linear;
}

.social-nav__link:hover {
  margin-left: -1rem;
}