/* @styles */
@import '~/styles/animations.scss';
@import '~/styles/breakpoints.scss';
@import '~/styles/colors.scss';

.work-card {
  @include animista-fade-in();
}

.work-card .work-card__image {
  width: 100%;
  overflow: hidden;
  background-color: $color__black;
}

.work-card__image img {
  transition: all .3s ease;
}

.work-card__image img:hover {
  transform: scale(1.1);
}

.work-card__content {
  background-color: $color__mid-gray;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.work-card__content-title.MuiTypography-root {
  font-family: "Orbitron", sans-serif;
}

.work-card__content-tech.MuiTypography-root {
  color: $color__light-green;
}

.work-card__content-actions {
  display: flex;
  gap: 0.5rem;
}

.work-card__content-actions .MuiButton-root {
  background-color: $color__dark-pink;
  border-radius: 0;
  box-shadow: none;
}

.work-card__content-actions .MuiButton-root:hover {
  background-color: transparent;
  outline: 1px solid $color__dark-pink;
  color: $color__dark-pink;
}

@media screen and (max-width: $breakpoints__sm) {
  .work-card__content-actions {
    flex-direction: column;
  }
  .work-card__content-title.MuiTypography-root {
    font-size: 1.25rem;
  }
  .work-card__content-tech.MuiTypography-root {
    font-size: 1rem;
  }
}
