/* Common */
$color__black: #000000;
$color__white: #FFFFFF;

/* Gray */
$color__light-gray: #e2dddf;
$color__mid-gray: #333;
$color__dark-gray: #141416;

/* Green */
$color__extra-light-green: #d1f7ff;
$color__light-green: #05d9e8;
$color__mid-green: #005678;
$color__dark-green: #01012b;

/* Green */
$color__dark-pink: #ff2a6d;
